<div class="animated fadeIn fast page-container">
    <section class="section-header contact animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                    <h1>¿Necesitas ayuda?</h1>
                    <p>Completá nuestro formulario y nos pondremos en contacto.</p>
                </div>
                <!-- <div class="col-12 col-md-3 icon is-desktop">
                    <img src="assets/icons/produce-icon-white.svg" width="200px" alt="Produci">
                </div> -->
            </div>
        </div>
    </section>
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 ">
                    <h2 class="text-center" style="margin-bottom: 40px;"></h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label>Nombre</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Mensaje</label>
                        <textarea class="form-control" rows="4" placeholder="Dejanos tu mensaje..."></textarea>
                        <div class="row justify-content-end align-items-end flex-column">
                            <div class="p-4">
                                <button class="btn btn-primary btn-fill">Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>