<div class="animated fadeIn fast page-container">
    <section class="section-header animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                    <h1>Solicitá lo que necesitas</h1>
                    <p>Completá este sencillo formulario detallando le falta al centro de salud donde trabajas.</p>
                </div>
                <div class="col-12 col-md-3 icon is-desktop">
                    <img src="assets/icons/hospital-icon-white.svg" alt="Doná">
                </div>
            </div>
        </div>
    </section>
    <section class="form-request">
        <div class="container">
            <mat-horizontal-stepper>
                <mat-step label="Tus datos" style="font-size: 22px!important;">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Nombre de la institución</label>
                                <input type="text" class="form-control" placeholder="Nombre de la institución" value="">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="tel" class="form-control" placeholder="Teléfono" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" value="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" placeholder="Apellido" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" class="form-control" placeholder="Dirección" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text" class="form-control" placeholder="Ciudad" value="">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Código Postal</label>
                                <input type="number" class="form-control" placeholder="Código Postal">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>País</label>
                                <input type="text" class="form-control" placeholder="País" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end align-items-end flex-column">
                        <div class="p-2">
                            <button mat-button matStepperNext class="btn btn-primary">Continuar</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step label="¡Falta poco!">
                    <div class="row">
                        <div class="col-12">
                            <p>¿Que necesitas?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="barbijosCheck" type="checkbox" />
                                <label class="custom-control-label" for="barbijosCheck">Barbijos</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="guantesCheck" type="checkbox" />
                                <label class="custom-control-label" for="guantesCheck">Guantes</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="valvulasCheck" type="checkbox" />
                                <label class="custom-control-label" for="valvulasCheck">Válvulas</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="alcoholCheck" type="checkbox" />
                                <label class="custom-control-label" for="alcoholCheck">Alcohol</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="batasCheck" type="checkbox" />
                                <label class="custom-control-label" for="batasCheck">Batas</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" id="otroCheck" type="checkbox" />
                                <label class="custom-control-label" for="otroCheck">Otro</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input type="number" class="form-control" placeholder="Cantidad" value="">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">¿Es urgente?</label>
                                <input type="text" class="form-control" placeholder="Si / No">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label>Transporte</label>
                                <input type="tel" class="form-control" placeholder="Transporte" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Observaciones</label>
                                <textarea class="form-control textarea">Observaciones</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end align-items-end flex-column">
                        <div class="p-2">
                            <button mat-button matStepperPrevious class="btn btn-default atras">Atrás</button>
                            <button mat-button matStepperNext class="btn btn-primary">Continuar</button>
                        </div>
                    </div>
                </mat-step>
                <mat-step label="Lo último">
                    <p class="gracias">¡Muchas gracias!</p>
                    <p class="correo">Te vamos a enviar un correo electrónico con instrucciones.</p>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </section>
</div>