<div class="main">
    <div class="section">
        <div class="container">
            <br/>
        </div>
        <div class="section section-nucleo-icons" style="background-color: #3498DB">
            <div class="container" style="margin: 0;">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title" style="color: #FFFFFF">Centro de Salud</h2><br/>
                        <p class="description" style="color: #FFFFFF">
                            Sos un efector de salud, u otra organización expuesta. Registrá lo que necesitás aquí.
                        </p><br/>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-time-alarm"></i>
                            <i class="nc-icon nc-atom"></i>
                            <i class="nc-icon nc-camera-compact"></i>
                            <i class="nc-icon nc-watch-time"></i>
                            <i class="nc-icon nc-key-25"></i>
                            <i class="nc-icon nc-diamond" style="color: white"></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-favourite-28"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-tie-bow"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="container">
                <br/>
            </div>


            <div class="section">
                <div class="container">
                    <div class="tim-title">
                        <h1>¿Qué quisieras solicitar?</h1><br>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="tim-title">
                                    <span>Clasificación de Centro de Salud</span>
                                </div>
                                <div class="form-check-radio" *ngFor="let item of list">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="hc" id="{{item.id}}" value="{{item.value}}" (click)="getItemSelected(item)" >
                    {{item.title}}
                    <span class="form-check-sign"></span>
                  </label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-3">
                                <div class="form-group">
                                    <label for="stateSelect">Ubicación (Provincia)</label>
                                    <select class="form-control" id="stateSelect">
                    <option *ngFor="let state of states" class="dropdown-item"
                            value="{{state.value}}" (click)="getSelectedState(state.value)">
                      {{state.value}}
                    </option>
                  </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-3">
                                <div class="form-group">
                                    <label for="city">Ciudad</label>
                                    <input type="text" class="form-control" id="city" placeholder="Ingrese ciudad">
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-3">
                                <div class="form-group">
                                    <label for="cp">Código Postal</label>
                                    <input type="number" class="form-control" id="cp" placeholder="Ingrese Código Postal">
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-3">
                                <div class="form-group">
                                    <label for="address">Dirección</label>
                                    <input type="text" class="form-control" id="address" placeholder="Ingrese Dirección">
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-3">
                                <div class="form-group">
                                    <label for="phone">Teléfono</label>
                                    <input type="number" class="form-control" id="phone" placeholder="Ingrese Teléfono">
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-3">
                                <div class="form-group">
                                    <label for="email">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-12">
                                <div class="tim-title">
                                    <span>Materiales/ Insumos / Equipos  que puedo PRODUCIR </span>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Barbijos
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                  </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Guantes
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                  </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Batas
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                  </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Respiradores
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                  </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Máscaras
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                  </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Otros
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                  </label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-3">
                                <div class="form-group">
                                    <label for="amount">Cantidad de Materiales/ Insumos / Equipos Requeridos</label>
                                    <input type="text" class="form-control" id="amount" placeholder="">
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label for="observations">Observaciones</label>
                                    <textarea type="text" class="form-control" id="observations" rows="10" cols="30" placeholder=""></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-12">
                                <div class="tim-title">
                                    <span>Tiempo estimado para PROVEER EN PUERTA (quizás se manejan tiempos mucho más acotados y definir transporte, quién se ocupa? o es tempo de producción para retirar en fábrica) </span>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Entre 15 y 20 días
                    <span class="form-check-sign">
            <span class="check"></span>
              </span>
                  </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    de 20 a 30 días
                    <span class="form-check-sign">
            <span class="check"></span>
              </span>
                  </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Más de 30 días
                    <span class="form-check-sign">
            <span class="check"></span>
              </span>
                  </label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-12 fields">
                                <button type="submit" class="btn btn-info button">Confirmar</button>
                            </div>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>