<div class="animated fadeIn fast page-container">
    <section class="section-header-complete animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-5">
                    <h1>¿Qué es ABC Recursos?</h1>
                    <p>ABC Recursos es una plataforma on-line que conecta a los centros y organismos de salud con personas y empresas dispuestas a producir y donar material de protección para el personal médico y afines.</p>
                </div>
                <div class="col-12 offset-md-2 col-md-5 background-special is-desktop">
                    <img src="assets/elements/background-about.png" width="100%">
                </div>
            </div>
        </div>
    </section>
    <section class="section-about animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <div class="icons">
                        <img src="assets/icons/our-mission-icon.svg" alt="Nuestra Misión">
                        <p class="text"><strong>Nuestra misión</strong> es contribuir a la reducción del personal médico expuesto a contagios por falta de insumos. Para que nuestros médicos nos puedan cuidar, primero tenemos que cuidarlos a ellos.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="icons">
                        <img src="assets/icons/our-vision-icon.svg" alt="Nuestra Visión">
                        <p class="text"><strong>Nuestra visión</strong> es convertirnos en una plataforma referente de conexión entre centros de salud y otros actores de la comunidad dispuestos a accionar y ayudar ante cualquier situación de emergencia sanitaria.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="icons">
                        <img src="assets/icons/our-values-icon.svg" alt="Nuestra Visión">
                        <p class="text"><strong>Nuestros valores</strong> fundamentales son el compromiso social, la empatía y la colaboración. Creemos firmemente que para afrontar un gran desafío, se requiere del esfuerzo colectivo de toda la sociedad.</p>
                    </div>
                </div>
                <div class="col-12 col-md-10">
                    <p class="servicios">¿Qué servicios ofrecemos?</p>

                    <ul class="list-group">
                        <li class="list-group-item">Registro de productores y donantes.</li>
                        <li class="list-group-item">Registro de entidades solicitantes.</li>
                        <li class="list-group-item">Registro de entidades logísticas.</li>
                        <li class="list-group-item">Registro de insumos disponibles para la entrega.</li>
                        <li class="list-group-item">Provisión de datos de contacto entre personas y empresas con centros de salud, en base a un algoritmo de geolocalización, disponibilidad y criticidad.</li>
                        <li class="list-group-item">Feed 24 HS de alertas.</li>
                    </ul>
                </div>
                <div class="col-12">
                    <p class="servicios">Nuestro equipo</p>
                    <p>¿Querés sumarte a un equipo de trabajo desafiante y divertido? Escribinos a equipo@abcrecursos.com.ar</p>
                </div>
            </div>
        </div>
    </section>