<div class="animated fadeIn fast page-container">
    <section class="section-header animated fadeIn">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-8">
                    <h1>Doná a los más cercanos. </h1>
                    <p>Completá nuestro formulario. Ayudanos a que te conozcamos mejor en tres simples pasos.</p>
                </div>
                <div class="col-12 col-md-3 icon is-desktop">
                    <img src="assets/icons/donate-icon-white.svg" alt="Doná">
                </div>
            </div>
        </div>
    </section>
</div>