<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/abcrecursos2.png')">
        <!-- <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->

    </div>
    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/donate']">
                            <img src="./assets/img/gente.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/donate']" class="btn btn-round">Doná</a>
                        </a>
                    </div>

                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/produce']">
                            <img src="./assets/img/hospital.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/produce']" class="btn btn-round">Tengo insumos</a>
                        </a>
                    </div>

                    <div class="col-md-4 text-center" routerLinkActive="active">
                        <a [routerLink]="['/request']">
                            <img src="./assets/img/barbijos.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/request']" class="btn btn-round">Necesito insumos</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
