
.navbar{
    padding: 20px 0;
    height: 80px;
}

.navtop{
    background: transparent;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.navtop .nav-link{
    font-size: 14px;
    padding: 0 15px 0 15px;
    color: #FFF;
    opacity: 0.75;
    font-weight: 600;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.navtop .nav-link:hover{
    opacity: 1;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}


.navtop .active .nav-link{
    font-size: 14px;
    padding: 0 15px 0 15px;
    color: #FFF;
    opacity: 1;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.navtop .active::after {
    display: block;
    content: '';
    background: #FFF;
    height: 2px;
    width: 80%;
    margin: auto;
    margin-top: 8px;
    transition: all ease .2s;
}

.navtop.my-bg-light .active::after {
    background: #808080;    
}

.my-bg-light{
    background: #FFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.18);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.navtop.my-bg-light .nav-link{
    color: #808080;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.navtop.my-bg-light .active .nav-link{
    font-weight: 600;
    color: #808080;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.navtop .navbar-brand img{
    width: 160px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.navtop.my-bg-light .navbar-brand img{
    width: 170px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

button:focus {
    outline: none;
}

.navtop .animated-icon3 {
    width: 30px;
    height: 20px;
    font: outline;
    z-index: 999999;
    position: relative;
    margin-right: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
    
.navtop .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;    
    border-radius: 5px;
}
    
.navtop .animated-icon3 span {
    background: rgb(52,152,219);
    background: rgba(52,152,219,1);
    background: -moz-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(16%, rgba(52,152,219,1)), color-stop(31%, rgba(52,152,219,1)), color-stop(100%, rgba(54,173,54,1)));
    background: -webkit-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    background: -o-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    background: linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#36ad36', GradientType=1 );

    border-radius: 5px;

}
    
.navtop .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
    
.navtop .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
    
.navtop .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
    
.navtop .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}
    
.navtop .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
    
.navtop .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

.navtop.my-bg-light .animated-icon3 span {
    background: rgba(52,152,219,1);
    background: -moz-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(16%, rgba(52,152,219,1)), color-stop(31%, rgba(52,152,219,1)), color-stop(100%, rgba(54,173,54,1)));
    background: -webkit-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    background: -o-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    background: linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#36ad36', GradientType=1 );

}

@media (max-width: 992px) {
    .navtop .navbar-brand img{
        width: 160px;
        margin-left: 15px;
    }
    .navbar .container{
        max-width: 100%;
    }
    .navtop {
        background: #FFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.18);
    }
    .navbar-collapse {
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;  
        background: #FFF;
    }

    .navtop .nav-link{
        color: #808080;
        font-size: 14px;
        padding: 10px 15px ;
    }
    .navtop .active .nav-link{
        font-size: 14px;
        padding: 10px 15px ;
        color: #808080;
        opacity: 1;
    }
    
    .navtop .active::after {
        display: none;
    }

    .navbar-collapse::after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: rgba(52,152,219,1);
        background: -moz-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(16%, rgba(52,152,219,1)), color-stop(31%, rgba(52,152,219,1)), color-stop(100%, rgba(54,173,54,1)));
        background: -webkit-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
        background: -o-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
        background: linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#36ad36', GradientType=1 );
    
    }

    .navtop.my-bg-light .active::after {
        display: none;
    }
}
