<section class="animated fadeIn fast" id="section-home">
    <div class="container animated fadeIn">
        <div class="row justify-content-center align-self-center">
            <div class="col-12 col-md-8">
                <div class="brand-home">
                    <img src="assets/brand/brand-vertical-v1.svg" alt="Logo ABC Recursos">
                    <h1>Escalando la Producción y Optimizando la Logística de recursos ante la criticidad sanitaria <strong>COVID-19</strong></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="animated fadeIn fast" id="section-icons">
    <div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 text-center">
                <div class="icons">
                    <img src="assets/icons/produce-icon.svg" alt="Producí">
                    <p>No importa tu tamaño, <strong>individuo</strong> o <strong>PYME</strong>, <strong>vos podés producir</strong> . Te decimos cómo.</p>
                    <a [routerLink]="['/produce']" class="btn btn-primary" title="Empezá a producir">Producir</a>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <div class="icons">
                    <img src="assets/icons/donate-icon.svg" alt="Doná">
                    <p>Te ayudamos a encontrar a quien, considerando <strong>urgencia</strong> y <strong>necesidad</strong>.</p>
                    <a [routerLink]="['/donate']" class="btn btn-primary" title="Doná a los que están en riesgo">Donar</a>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <div class="icons">
                    <img src="assets/icons/hospital-icon.svg" alt="Logo ABC Recursos">
                    <p>Sos un <strong>efector de salud</strong>, u otra  <strong>organización expuesta</strong>. Registrá lo que necesitas aquí.</p>
                    <a [routerLink]="['/request']" class="btn btn-primary" title="Solicitá lo que necesitan">Centro de salud</a>
                </div>
            </div>
        </div>
    </div>
</section>



