/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";


body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Animation site*/ 
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    animation-name: fadeIn;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width:8px;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;  
}

::-webkit-scrollbar-track {
  background: #F2F2F2; 
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background:#C6C6C6; 
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;  
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8FCCFF;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

::-moz-selection { 
    background: #34495E;
    color: #FFF;
    padding: 10px; 
}

::selection { 
    background: #34495E;
    color: #FFF;
    padding: 10px; 
}

.page-container { 
  min-height: 70vh;
}

.section-header {
  height: 300px;
  padding-top: 100px;
  background: rgba(52,152,219,1);
  background: -moz-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(16%, rgba(52,152,219,1)), color-stop(31%, rgba(52,152,219,1)), color-stop(100%, rgba(54,173,54,1)));
  background: -webkit-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
  background: -o-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
  background: linear-gradient(45deg, rgba(52,152,219,1) 16%, rgba(52,152,219,1) 31%, rgba(54,173,54,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#36ad36', GradientType=1 );
  -webkit-box-shadow: inset 0px -10px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px -10px 15px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px -10px 15px 0px rgba(0,0,0,0.2);
}

.section-header h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 46px;
  line-height: 48px;
  color: #FFF;
  font-weight: 600;
}

.section-header p {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  line-height: 28px;
  color: #FFF;
}
.section-header .icon img{
  width: 150px;
  opacity: 0.7;
}
.section-header-complete .btn-outline-primary{
  margin-top: 30px;
  border-color: #FFF;
  color: #FFF;
  padding: 8px 25px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.section-header-complete .btn-outline-primary:hover{
  margin-top: 30px;
  border-color: #FFF;
  color: #3498DB!important;
  background:#FFF;
  padding: 8px 25px;
}

.background-special {
  opacity: 0.8;
  mix-blend-mode:  hard-light;
}

#search-code .invalid-feedback {
  font-size: 100%!important;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
  background-color:  #3498DB!important;
}

.mat-stepper-horizontal-line{
  border-top-color: #36AD36;
}


@media (max-width: 786px) {
  .is-desktop {
    display: none;
  }
  .section-header {
      padding-top: 120px;
  }
  .section-header h1 {
      font-size: 36px;
      line-height: 42px;
  }
  .section-header p {
      font-size: 16px;
      line-height: 24px;
  }
}