<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-12">
                <img class="brand" src="assets/brand/brand-vertical-v2.svg" title="Logo ABC Recursos" alt="Logo ABC Recursos">
            </div>
            <div class="col-md-2 col-sm-4 col-12">
                <p class="title-footer">Accesos</p>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['produce']">Producir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['donate']">Donar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['request']">Solicitar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['tracking']">Segui solicitud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['faq']">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['contact']" href="">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-12">
                <p class="title-footer">Información adicional</p>
                <p></p>
            </div>
            <div class="col-md-3 col-sm-4 col-12">
                <p class="title-footer">Sobre ABC Recursos</p>
                <p></p>
            </div>
        </div>
    </div>
</footer>